.cont {
  width: 100%;
  height: 100%;
  position: relative;
}

.for_background {
  position: absolute;
  left: 0;
  right: 0;
  height: 86%;
  top: 100px;
  background: linear-gradient(-360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

}

.title_cont {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 210px;
  height: 35px;
  font-family: SF Pro Display;
  font-size: 35px;
  line-height: 100%;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
}

.title_big {
  width: 651px;
  height: 168px;
  font-family: SF Pro Display;
  font-size: 64px;
  line-height: 131%;
  text-align: center;
  color: #FFFFFF;
}

.section_card {
  margin-bottom: 40px;
}

.card {
  display: flex;
  justify-content: center;
}

.cont_infoCont {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  justify-content: center;
}

.table {
  width: 800px;
  height: 1000px;
  -webkit-border-radius: 17px 17px 17px 17px;
  -moz-border-radius: 17px 17px 17px 17px;
  border-radius: 17px 17px 17px 17px;
  padding: 30px;
  background-image: url('../../images/wing-of-airplan.png');

}

.table_content {
  background-color: crimson;
  width: 800px;
  height: 1000px;
  display: flex;
  justify-content: center;

}

.table_content_contr {
  background-color: rgb(63, 12, 22);
  width: 800px;
  height: 1000px;
  display: flex;
}

.titles {
  width: 700px;
}

.plan_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 126.84%;
  color: #FFFFFF;
  margin: 0;
}

.title_desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 126.84%;
  color: #FFFFFF;
}

.items {
  list-style: none;
}

.item {
  background-color: #FFFFFF;
  width: 200px;
  padding: 12px;
  -webkit-border-radius: 17px 17px 17px 17px;
  -moz-border-radius: 17px 17px 17px 17px;
  border-radius: 17px 17px 17px 17px;
  margin-bottom: 20px;
}

.img1 {
  height: 30px;
  width: 30px;
}

.link {
  text-decoration: none;
}

.link1 {
  font-family: SF Pro Display;
  font-size: 14px;
  line-height: 120%;
  align-items: center;
  color: #4672E1;
}

.title_item {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.050568px;
  color: #222222;
  margin-top: 0;
}

.item_descr {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 144%;
  letter-spacing: -0.050568px;
  color: #0F0F10;
}

.img2 {
  height: 100px;
  width: 100px;
}

.item2 {
  background: linear-gradient(180deg, #FFDF6B 0%, #FFD43C 100%);
  width: 200px;
  padding: 12px;
  -webkit-border-radius: 17px 17px 17px 17px;
  -moz-border-radius: 17px 17px 17px 17px;
  border-radius: 17px 17px 17px 17px;
  margin-bottom: 20px;
}

.item3 {
  background: linear-gradient(180deg, #7A9FFF 0%, #57D5F0 100%);
  border-radius: 12px;
  width: 200px;
  padding: 12px;
  -webkit-border-radius: 17px 17px 17px 17px;
  -moz-border-radius: 17px 17px 17px 17px;
  border-radius: 17px 17px 17px 17px;
  margin-bottom: 20px;

}

.img3 {
  height: 200px;
  width: 200px;
  margin-top: -54px;
  margin-left: -20px;
}

.title_item3 {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.050568px;
  color: #222222;
  margin-top: -37px;
}

.item_descr4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 144%;
  letter-spacing: -0.050568px;
  color: #0F0F10;
  white-space: pre-line;
}
