.cont {
  width: 100%;
  height: 100%;
  position: relative;
}

.for_background {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  top: 100px;
  background: linear-gradient(-360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

}

.title_cont {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 210px;
  height: 35px;
  font-family: SF Pro Display;
  font-size: 35px;
  line-height: 100%;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
}

.title_big {
  width: 651px;
  height: 168px;
  font-family: SF Pro Display;
  font-size: 64px;
  line-height: 131%;
  text-align: center;
  color: #FFFFFF;
}

.section_card {
  margin-bottom: 40px;
}

.card {
  display: flex;
  justify-content: center;
}

.cont_infoCont {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  align-items: center;
  flex-flow: column;
}

.title_width {
  width: 100%;
}

.table {
  width: 83%;
  height: 1000px;
  -webkit-border-radius: 17px 17px 17px 17px;
  -moz-border-radius: 17px 17px 17px 17px;
  border-radius: 17px 17px 17px 17px;
  padding: 30px;
  background-image: url('../../images/wing-of-airplan.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.table_content {
  height: 1000px;
  display: flex;
  justify-content: center;

}

.table_content_contr {
  width: 800px;
  height: 1000px;
  display: flex;
}

.titles {
  /* width: 700px; */
}

.plan_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 126.84%;
  color: #FFFFFF;
  margin: 0;
}

.title_desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 126.84%;
  color: #FFFFFF;
}

.items {
  list-style: none;
}

.item {
  background-color: #FFFFFF;
  width: 200px;
  padding: 12px;
  -webkit-border-radius: 17px 17px 17px 17px;
  -moz-border-radius: 17px 17px 17px 17px;
  border-radius: 17px 17px 17px 17px;
  margin-bottom: 20px;
}

.img1 {
  height: 30px;
  width: 30px;
}

.link {
  text-decoration: none;
}

.link1 {
  font-family: SF Pro Display;
  font-size: 14px;
  line-height: 120%;
  align-items: center;
  color: #4672E1;
}

.title_item {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.050568px;
  color: #222222;
  margin-top: 0;
}

.item_descr {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 144%;
  letter-spacing: -0.050568px;
  color: #0F0F10;
}

.img2 {
  height: 100px;
  width: 100px;
}

.item2 {
  background: linear-gradient(180deg, #FFDF6B 0%, #FFD43C 100%);
  width: 200px;
  padding: 12px;
  -webkit-border-radius: 17px 17px 17px 17px;
  -moz-border-radius: 17px 17px 17px 17px;
  border-radius: 17px 17px 17px 17px;
  margin-bottom: 20px;
}

.item3 {
  background: linear-gradient(180deg, #7A9FFF 0%, #57D5F0 100%);
  border-radius: 12px;
  width: 200px;
  padding: 12px;
  -webkit-border-radius: 17px 17px 17px 17px;
  -moz-border-radius: 17px 17px 17px 17px;
  border-radius: 17px 17px 17px 17px;
  margin-bottom: 20px;

}

.img3 {
  height: 200px;
  width: 200px;
  margin-top: -54px;
  margin-left: -20px;
}

.title_item3 {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.050568px;
  color: #222222;
  margin-top: -37px;
}

.item_descr4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 144%;
  letter-spacing: -0.050568px;
  color: #0F0F10;
  white-space: pre-line;
}

.items2 {
  list-style: none;
  margin-top: 80px;
}

.items3 {
  list-style: none;
  margin-top: 170px;
}

@media (max-width: 1750px) {
  .for_background {
    height: 99%;
  }
}

@media (max-width: 1720px) {
  .for_background {
    height: 98%;
  }
}

@media (max-width: 1690px) {
  .for_background {
    height: 97%;
  }
}

@media (max-width: 1660px) {
  .for_background {
    height: 96%;
  }
}

@media (max-width: 1630px) {
  .for_background {
    height: 95%;
  }
}

@media (max-width: 1600px) {
  .for_background {
    height: 94%;
  }
}

@media (max-width: 1570px) {
  .for_background {
    height: 93%;
  }
}

@media (max-width: 1540px) {
  .for_background {
    height: 92%;
  }
}

@media (max-width: 1510px) {
  .for_background {
    height: 92%;
  }
}

@media (max-width: 1480px) {
  .for_background {
    height: 91%;
  }
}

@media (max-width: 1450px) {
  .for_background {
    height: 90%;
  }
}

@media (max-width: 1400px) {
  .for_background {
    height: 89%;
  }
}

@media (max-width: 1350px) {
  .for_background {
    height: 88%;
  }
}

@media (max-width: 1301px) {
  .for_background {
    height: 86%;
  }
}

@media (max-width: 905px) {
  .table_content_contr {
    width: 800px;
    height: 1000px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .titles {
    display: flex;
    flex-flow: column;
  }

  .table_width {
    width: 50%;
  }

  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;

  }

  .table_content {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .items {
    padding: 0px;
  }

  .plan_title {
    margin: 0;
  }

  .title_width {
    width: 51%;
    margin: auto;
  }

  .for_background {
    height: 100%;
    width: 105%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .exp {
    display: block;
    width: 904px;
  }
}

@media (max-width: 820px) {
  .for_background {
    width: 115%;
  }
}

@media (max-width: 716px) {
  .for_background {
    width: 125%;
  }
}

@media (max-width: 658px) {
  .for_background {
    width: 135%;
  }
}

@media (max-width: 608px) {
  .for_background {
    width: 145%;
  }
}

@media (max-width: 566px) {
  .for_background {
    width: 155%;
  }
}

@media (max-width: 530px) {
  .for_background {
    width: 165%;
  }
}

@media (max-width: 498px) {
  .for_background {
    width: 175%;
  }
}

@media (max-width: 470px) {
  .for_background {
    width: 185%;
  }
}

@media (max-width: 444px) {
  .for_background {
    width: 195%;
  }
}

@media (max-width: 422px) {
  .for_background {
    width: 205%;
  }
}

@media (max-width: 412px) {
  .for_background {
    width: 215%;
  }
}

@media (max-width: 382px) {
  .for_background {
    width: 225%;
  }
}

@media (max-width: 368px) {
  .for_background {
    width: 235%;
  }
}

@media (max-width: 350px) {
  .for_background {
    width: 280%;
  }
}

@media (max-width: 336px) {
  .for_background {
    width: 269%;
  }
}

@media (max-width: 325px) {
  .for_background {
    width: 279%;
  }
}

@media (max-width: 322px) {
  .for_background {
    width: 283%;
  }
}
