.header_cont {
  padding: 10px;
  height: 15%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 11111;
}


.logo_cont {
  position: relative;
}

.logo2 {
  position: absolute;
  left: 15px;
}

.menu_cont {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.menu_cont::after {
  content: "";
  margin: 0;
  display: block;
  position: absolute;
  width: 896px;
  height: 1px;
  left: -579px;
  top: 43px;
  background: white;
  opacity: 0.15;
}

.button {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.5px;
  color: #066EB0;
  width: 137px;
  height: 33px;
  background: #FFFFFF;
  border-radius: 23.5px;
}
