.header_cont {
  background-color: blue;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;

}

.logo_cont {
  position: relative;
}

.logo2 {
  position: absolute;
  left: 15px;
}

.menu_cont {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.menu_cont::after {
  content: "";
  margin: 0;
  display: block;
  position: absolute;
  width: 896px;
  height: 1px;
  left: -700px;
  top: 43px;
  background: rgb(233, 5, 5);
  opacity: 0.15;
}

.button {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.5px;
  color: #066EB0;
  width: 137px;
  height: 33px;
  background: #FFFFFF;
  border-radius: 23.5px;
}

element.style {
  width: 100%;
  height: 100%;
}
